<% layout('/layouts/default.html', {title: '三亚客流管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(status == 'true'? '查看三亚客流':(biJscJdldrs.isNewRecord ? '新增三亚客流' : '编辑三亚客流'))}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${biJscJdldrs}" action="${ctx}/bi/biJscJdldrs/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:input path="bsjDdId" readonly="${status == 'true'}" maxlength="100" class="form-control dateym"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('进店人数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:input path="bsjJdrs" readonly="${status == 'true'}" maxlength="255" class="form-control intnum"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('离岛人数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:input path="bsjLdrs" readonly="${status == 'true'}" maxlength="255" class="form-control intnum"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('bi:biJscJdldrs:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>

	(function start(status){
		console.log(status)
		if(status==null){ }else if(status.toString() == "true"){
			document.getElementById("btnSubmit").style.display="none";
		}
	})(${status})

	$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>