<% layout('/layouts/default.html', {title: '通用字典表二管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('通用字典表二管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('bi:biTablesDeq:edit')){ %>
					<a href="${ctx}/bi/biTablesDeq/form" class="btn btn-default btnTool" title="${text('新增通用字典表二')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${biTablesDeq}" action="${ctx}/bi/biTablesDeq/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('维护表编号')}：</label>
					<div class="control-inline">
						<#form:input path="tableId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('日期')}：</label>
					<div class="control-inline">
						<#form:input path="bsjDdId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('进店人数')}：</label>
					<div class="control-inline">
						<#form:input path="bsjJdrs" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('离岛人数')}：</label>
					<div class="control-inline">
						<#form:input path="bsjLdrs" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('日期年月')}：</label>
					<div class="control-inline">
						<#form:input path="dhpfDdId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('门店6915')}：</label>
					<div class="control-inline">
						<#form:input path="dhpfDsId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('机场总人数本月累计')}：</label>
					<div class="control-inline">
						<#form:input path="dhpfJczrsBylj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('机场总人数本月预算')}：</label>
					<div class="control-inline">
						<#form:input path="dhpfJczrsByys" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('机场总人数去年同期月累计')}：</label>
					<div class="control-inline">
						<#form:input path="dhpfJczrsByljTq" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('机场总人数去年同期月预算')}：</label>
					<div class="control-inline">
						<#form:input path="dhpfJczrsByysTq" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('日期')}：</label>
					<div class="control-inline">
						<#form:input path="djfktDdId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('门店名称')}：</label>
					<div class="control-inline">
						<#form:input path="djfktDsName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('djfkt_category')}：</label>
					<div class="control-inline">
						<#form:input path="djfktCategory" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('当月值')}：</label>
					<div class="control-inline">
						<#form:input path="djfktEva" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('累计值')}：</label>
					<div class="control-inline">
						<#form:input path="djfktEvaLj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('本期完成率')}：</label>
					<div class="control-inline">
						<#form:input path="djfktEvaWcl" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('同期完成率')}：</label>
					<div class="control-inline">
						<#form:input path="djfktEvaTqwcl" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('同比增幅')}：</label>
					<div class="control-inline">
						<#form:input path="djfktEvaTbzf" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('日期')}：</label>
					<div class="control-inline">
						<#form:input path="ewrDdId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('渠道名称')}：</label>
					<div class="control-inline">
						<#form:input path="ewrChannelName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('门店名称')}：</label>
					<div class="control-inline">
						<#form:input path="ewrDsName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('品类名称')}：</label>
					<div class="control-inline">
						<#form:input path="ewrCategoryName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业收入本年累计')}：</label>
					<div class="control-inline">
						<#form:input path="ewrYysrBnlj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业收入全年预算')}：</label>
					<div class="control-inline">
						<#form:input path="ewrYysrQnys" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业收入上年同期')}：</label>
					<div class="control-inline">
						<#form:input path="ewrYysrSntq" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业收入上年全年')}：</label>
					<div class="control-inline">
						<#form:input path="ewrYysrSnqn" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('利润总额本年累计')}：</label>
					<div class="control-inline">
						<#form:input path="ewrLrzeBnlj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('利润总额全年预算')}：</label>
					<div class="control-inline">
						<#form:input path="ewrLrzeQnys" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('利润总额上年同期')}：</label>
					<div class="control-inline">
						<#form:input path="ewrLrzeSntq" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('利润总额上年全年')}：</label>
					<div class="control-inline">
						<#form:input path="ewrLrzeSnqn" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业成本本年累计')}：</label>
					<div class="control-inline">
						<#form:input path="ewrYycbBnlj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业成本全年预算')}：</label>
					<div class="control-inline">
						<#form:input path="ewrYycbQnys" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业成本上年同期')}：</label>
					<div class="control-inline">
						<#form:input path="ewrYycbSntq" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业成本上年全年')}：</label>
					<div class="control-inline">
						<#form:input path="ewrYycbSnqn" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('毛利额本年累计')}：</label>
					<div class="control-inline">
						<#form:input path="ewrMleBnlj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('毛利额全年预算')}：</label>
					<div class="control-inline">
						<#form:input path="ewrMleQnys" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('毛利额上年同期')}：</label>
					<div class="control-inline">
						<#form:input path="ewrMleSntq" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('毛利额上年全年')}：</label>
					<div class="control-inline">
						<#form:input path="ewrMleSnqn" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('期间费用本年累计')}：</label>
					<div class="control-inline">
						<#form:input path="ewrQjfyBnlj" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('期间费用全年预算')}：</label>
					<div class="control-inline">
						<#form:input path="ewrQjfyQnys" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('期间费用上年同期')}：</label>
					<div class="control-inline">
						<#form:input path="ewrQjfySntq" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('酒店编码')}：</label>
					<div class="control-inline">
						<#form:input path="dhCode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('酒店名称')}：</label>
					<div class="control-inline">
						<#form:input path="dhName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('酒店位置')}：</label>
					<div class="control-inline">
						<#form:input path="dhLocation" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('酒店星级')}：</label>
					<div class="control-inline">
						<#form:input path="dhLevel" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('dh_kfs')}：</label>
					<div class="control-inline">
						<#form:input path="dhKfs" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('dh_rzl')}：</label>
					<div class="control-inline">
						<#form:input path="dhRzl" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('分类')}：</label>
					<div class="control-inline">
						<#form:input path="catname" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('店铺号')}：</label>
					<div class="control-inline">
						<#form:input path="shopcode" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('落位ID')}：</label>
					<div class="control-inline">
						<#form:input path="locationid" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('店铺面积')}：</label>
					<div class="control-inline">
						<#form:input path="square" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('柜组ID')}：</label>
					<div class="control-inline">
						<#form:input path="mfcode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('柜组名称')}：</label>
					<div class="control-inline">
						<#form:input path="mfcname" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('品牌编码')}：</label>
					<div class="control-inline">
						<#form:input path="brandcode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('品牌名称')}：</label>
					<div class="control-inline">
						<#form:input path="brandname" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('日期')}：</label>
					<div class="control-inline">
						<#form:input path="dstDdId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('门店编码')}：</label>
					<div class="control-inline">
						<#form:input path="dstDsId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('店面编码')}：</label>
					<div class="control-inline">
						<#form:input path="dstDmId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('柜组编码')}：</label>
					<div class="control-inline">
						<#form:input path="dstGzId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业员号')}：</label>
					<div class="control-inline">
						<#form:input path="dstYyyh" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业员名称')}：</label>
					<div class="control-inline">
						<#form:input path="dstYyyName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('营业员销售目标')}：</label>
					<div class="control-inline">
						<#form:input path="dstXseTarget" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('日期')}：</label>
					<div class="control-inline">
						<#form:input path="ddId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('旅行社或会展编码')}：</label>
					<div class="control-inline">
						<#form:input path="ddLxsid" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('旅行社或会展名称')}：</label>
					<div class="control-inline">
						<#form:input path="ddLxsmc" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('预约人数')}：</label>
					<div class="control-inline">
						<#form:input path="ddYyrs" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('最近更新人')}：</label>
					<div class="control-inline">
						<#form:input path="updateBy" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('最近更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updateDate" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("维护表编号")}', name:'tableId', index:'a.table_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/bi/biTablesDeq/form?id='+row.id+'" class="btnList" data-title="${text("编辑通用字典表二")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("日期")}', name:'bsjDdId', index:'a.bsj_dd_id', width:150, align:"left"},
		{header:'${text("进店人数")}', name:'bsjJdrs', index:'a.bsj_jdrs', width:150, align:"center"},
		{header:'${text("离岛人数")}', name:'bsjLdrs', index:'a.bsj_ldrs', width:150, align:"center"},
		{header:'${text("日期年月")}', name:'dhpfDdId', index:'a.dhpf_dd_id', width:150, align:"left"},
		{header:'${text("门店6915")}', name:'dhpfDsId', index:'a.dhpf_ds_id', width:150, align:"left"},
		{header:'${text("机场总人数本月累计")}', name:'dhpfJczrsBylj', index:'a.dhpf_jczrs_bylj', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("机场总人数本月预算")}', name:'dhpfJczrsByys', index:'a.dhpf_jczrs_byys', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("机场总人数去年同期月累计")}', name:'dhpfJczrsByljTq', index:'a.dhpf_jczrs_bylj_tq', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("机场总人数去年同期月预算")}', name:'dhpfJczrsByysTq', index:'a.dhpf_jczrs_byys_tq', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("日期")}', name:'djfktDdId', index:'a.djfkt_dd_id', width:150, align:"left"},
		{header:'${text("门店名称")}', name:'djfktDsName', index:'a.djfkt_ds_name', width:150, align:"left"},
		{header:'${text("djfkt_category")}', name:'djfktCategory', index:'a.djfkt_category', width:150, align:"left"},
		{header:'${text("当月值")}', name:'djfktEva', index:'a.djfkt_eva', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("累计值")}', name:'djfktEvaLj', index:'a.djfkt_eva_lj', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("本期完成率")}', name:'djfktEvaWcl', index:'a.djfkt_eva_wcl', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("同期完成率")}', name:'djfktEvaTqwcl', index:'a.djfkt_eva_tqwcl', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("同比增幅")}', name:'djfktEvaTbzf', index:'a.djfkt_eva_tbzf', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("日期")}', name:'ewrDdId', index:'a.ewr_dd_id', width:150, align:"left"},
		{header:'${text("渠道名称")}', name:'ewrChannelName', index:'a.ewr_channel_name', width:150, align:"left"},
		{header:'${text("门店名称")}', name:'ewrDsName', index:'a.ewr_ds_name', width:150, align:"left"},
		{header:'${text("品类名称")}', name:'ewrCategoryName', index:'a.ewr_category_name', width:150, align:"left"},
		{header:'${text("营业收入本年累计")}', name:'ewrYysrBnlj', index:'a.ewr_yysr_bnlj', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("营业收入全年预算")}', name:'ewrYysrQnys', index:'a.ewr_yysr_qnys', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("营业收入上年同期")}', name:'ewrYysrSntq', index:'a.ewr_yysr_sntq', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("营业收入上年全年")}', name:'ewrYysrSnqn', index:'a.ewr_yysr_snqn', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("利润总额本年累计")}', name:'ewrLrzeBnlj', index:'a.ewr_lrze_bnlj', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("利润总额全年预算")}', name:'ewrLrzeQnys', index:'a.ewr_lrze_qnys', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("利润总额上年同期")}', name:'ewrLrzeSntq', index:'a.ewr_lrze_sntq', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("利润总额上年全年")}', name:'ewrLrzeSnqn', index:'a.ewr_lrze_snqn', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("营业成本本年累计")}', name:'ewrYycbBnlj', index:'a.ewr_yycb_bnlj', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("营业成本全年预算")}', name:'ewrYycbQnys', index:'a.ewr_yycb_qnys', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("营业成本上年同期")}', name:'ewrYycbSntq', index:'a.ewr_yycb_sntq', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("营业成本上年全年")}', name:'ewrYycbSnqn', index:'a.ewr_yycb_snqn', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("毛利额本年累计")}', name:'ewrMleBnlj', index:'a.ewr_mle_bnlj', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("毛利额全年预算")}', name:'ewrMleQnys', index:'a.ewr_mle_qnys', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("毛利额上年同期")}', name:'ewrMleSntq', index:'a.ewr_mle_sntq', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("毛利额上年全年")}', name:'ewrMleSnqn', index:'a.ewr_mle_snqn', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("期间费用本年累计")}', name:'ewrQjfyBnlj', index:'a.ewr_qjfy_bnlj', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("期间费用全年预算")}', name:'ewrQjfyQnys', index:'a.ewr_qjfy_qnys', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("期间费用上年同期")}', name:'ewrQjfySntq', index:'a.ewr_qjfy_sntq', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("酒店编码")}', name:'dhCode', index:'a.dh_code', width:150, align:"left"},
		{header:'${text("酒店名称")}', name:'dhName', index:'a.dh_name', width:150, align:"left"},
		{header:'${text("酒店位置")}', name:'dhLocation', index:'a.dh_location', width:150, align:"left"},
		{header:'${text("酒店星级")}', name:'dhLevel', index:'a.dh_level', width:150, align:"left"},
		{header:'${text("dh_kfs")}', name:'dhKfs', index:'a.dh_kfs', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("dh_rzl")}', name:'dhRzl', index:'a.dh_rzl', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("分类")}', name:'catname', index:'a.catname', width:150, align:"left"},
		{header:'${text("店铺号")}', name:'shopcode', index:'a.shopcode', width:150, align:"left"},
		{header:'${text("落位ID")}', name:'locationid', index:'a.locationid', width:150, align:"left"},
		{header:'${text("店铺面积")}', name:'square', index:'a.square', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("柜组ID")}', name:'mfcode', index:'a.mfcode', width:150, align:"left"},
		{header:'${text("柜组名称")}', name:'mfcname', index:'a.mfcname', width:150, align:"left"},
		{header:'${text("品牌编码")}', name:'brandcode', index:'a.brandcode', width:150, align:"left"},
		{header:'${text("品牌名称")}', name:'brandname', index:'a.brandname', width:150, align:"left"},
		{header:'${text("日期")}', name:'dstDdId', index:'a.dst_dd_id', width:150, align:"left"},
		{header:'${text("门店编码")}', name:'dstDsId', index:'a.dst_ds_id', width:150, align:"left"},
		{header:'${text("店面编码")}', name:'dstDmId', index:'a.dst_dm_id', width:150, align:"left"},
		{header:'${text("柜组编码")}', name:'dstGzId', index:'a.dst_gz_id', width:150, align:"left"},
		{header:'${text("营业员号")}', name:'dstYyyh', index:'a.dst_yyyh', width:150, align:"left"},
		{header:'${text("营业员名称")}', name:'dstYyyName', index:'a.dst_yyy_name', width:150, align:"left"},
		{header:'${text("营业员销售目标")}', name:'dstXseTarget', index:'a.dst_xse_target', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("日期")}', name:'ddId', index:'a.dd_id', width:150, align:"left"},
		{header:'${text("旅行社或会展编码")}', name:'ddLxsid', index:'a.dd_lxsid', width:150, align:"left"},
		{header:'${text("旅行社或会展名称")}', name:'ddLxsmc', index:'a.dd_lxsmc', width:150, align:"left"},
		{header:'${text("预约人数")}', name:'ddYyrs', index:'a.dd_yyrs', width:150, align:"center"},
		{header:'${text("最近更新人")}', name:'updateBy', index:'a.update_by', width:150, align:"left"},
		{header:'${text("最近更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('bi:biTablesDeq:edit')){ %>
				actions.push('<a href="${ctx}/bi/biTablesDeq/form?id='+row.id+'" class="btnList" title="${text("编辑通用字典表二")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/bi/biTablesDeq/delete?id='+row.id+'" class="btnList" title="${text("删除通用字典表二")}" data-confirm="${text("确认要删除该通用字典表二吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>