<% layout('/layouts/default.html', {title: 'tb_db_common_tables管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(tbDbCommonTables.isNewRecord ? '新增tb_db_common_tables' : '编辑tb_db_common_tables')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tbDbCommonTables}" action="${ctx}/db/tbDbCommonTables/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('团队名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="teamName" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonA" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="commonB" dictType="fashionBrandCode" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="commonC" dictType="fashionBrandCode" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonD" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonE" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonF" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonG" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonH" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonI" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonJ" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonK" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonL" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonM" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonN" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonO" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonP" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonQ" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonR" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonS" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonT" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonU" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonV" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonW" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonX" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonY" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonZ" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAa" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAb" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAc" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAd" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAe" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAf" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAg" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAh" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAi" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAj" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAk" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAl" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAm" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAn" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAo" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAp" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAq" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAr" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAs" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAt" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAu" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAv" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAw" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAx" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAy" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonAz" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonBa" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonBb" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonBc" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonBd" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonBe" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonBf" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonBg" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('通用字段')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="commonBh" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('图片上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${tbDbCommonTables.id}" bizType="tbDbCommonTables_image"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('db:tbDbCommonTables:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>