<% layout('/layouts/default.html', {title: 'tb_db_common_tables管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('tb_db_common_tables管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('db:tbDbCommonTables:edit')){ %>
					<a href="${ctx}/db/tbDbCommonTables/form" class="btn btn-default btnTool" title="${text('新增tb_db_common_tables')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tbDbCommonTables}" action="${ctx}/db/tbDbCommonTables/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('团队名称')}：</label>
					<div class="control-inline">
						<#form:input path="teamName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonA_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){commonA_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="commonA_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline width-120">
						<#form:select path="commonB" dictType="fashionBrandCode" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline width-120">
						<#form:select path="commonC" dictType="fashionBrandCode" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonD" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonE" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonF" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
            <div class="form-group">
                <label class="control-label">${text('最近更新人')}：</label>
                <div class="control-inline">
                    <#form:input path="updateBy" maxlength="100" class="form-control width-120"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('最近更新时间')}：</label>
                <div class="control-inline">
                    <#form:input path="updateDate_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
                    dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){updateDate_lte.click()}});"/>
                    &nbsp;&#45;&#45;&nbsp;
                    <#form:input path="updateDate_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
                    dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
                </div>
            </div>
				<!--<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonG" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonH" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonI" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonJ" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonK" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonL" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonM" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonN" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonO" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonP" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonQ" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonR" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonS" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonT" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonU" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonV" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonW" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonX" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonY" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonZ" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAa" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAb" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAc" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAd" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAe" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAf" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAg" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAh" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAi" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAj" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAk" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAl" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAm" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAn" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAo" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAp" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAq" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAr" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAs" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAt" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAu" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAv" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAw" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAx" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAy" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonAz" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonBa" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonBb" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonBc" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonBd" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonBe" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonBf" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonBg" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('通用字段')}：</label>
					<div class="control-inline">
						<#form:input path="commonBh" maxlength="255" class="form-control width-120"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">${text('状态，1失效0有效')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>-->

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("团队名称")}', name:'teamName', index:'a.team_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/db/tbDbCommonTables/form?id='+row.id+'" class="btnList" data-title="${text("编辑tb_db_common_tables")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("通用字段")}', name:'commonA', index:'a.common_a', width:150, align:"center"},
		{header:'${text("通用字段")}', name:'commonB', index:'a.common_b', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('fashionBrandCode')}, val, '${text("未知")}', true);
		}},
		{header:'${text("通用字段")}', name:'commonC', index:'a.common_c', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('fashionBrandCode')}, val, '${text("未知")}', true);
		}},
		{header:'${text("通用字段")}', name:'commonD', index:'a.common_d', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonE', index:'a.common_e', width:150, align:"left"},
		/*{header:'${text("通用字段")}', name:'commonF', index:'a.common_f', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonG', index:'a.common_g', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonH', index:'a.common_h', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonI', index:'a.common_i', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonJ', index:'a.common_j', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonK', index:'a.common_k', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonL', index:'a.common_l', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonM', index:'a.common_m', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonN', index:'a.common_n', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonO', index:'a.common_o', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonP', index:'a.common_p', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonQ', index:'a.common_q', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonR', index:'a.common_r', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonS', index:'a.common_s', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonT', index:'a.common_t', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonU', index:'a.common_u', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonV', index:'a.common_v', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonW', index:'a.common_w', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonX', index:'a.common_x', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonY', index:'a.common_y', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonZ', index:'a.common_z', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAa', index:'a.common_aa', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAb', index:'a.common_ab', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAc', index:'a.common_ac', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAd', index:'a.common_ad', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAe', index:'a.common_ae', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAf', index:'a.common_af', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAg', index:'a.common_ag', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAh', index:'a.common_ah', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAi', index:'a.common_ai', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAj', index:'a.common_aj', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAk', index:'a.common_ak', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAl', index:'a.common_al', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAm', index:'a.common_am', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAn', index:'a.common_an', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAo', index:'a.common_ao', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAp', index:'a.common_ap', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAq', index:'a.common_aq', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAr', index:'a.common_ar', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAs', index:'a.common_as', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAt', index:'a.common_at', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAu', index:'a.common_au', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAv', index:'a.common_av', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAw', index:'a.common_aw', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAx', index:'a.common_ax', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAy', index:'a.common_ay', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonAz', index:'a.common_az', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonBa', index:'a.common_ba', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonBb', index:'a.common_bb', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonBc', index:'a.common_bc', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonBd', index:'a.common_bd', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonBe', index:'a.common_be', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonBf', index:'a.common_bf', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonBg', index:'a.common_bg', width:150, align:"left"},
		{header:'${text("通用字段")}', name:'commonBh', index:'a.common_bh', width:150, align:"left"},*/
		{header:'${text("最近更新人")}', name:'updateBy', index:'a.update_by', width:150, align:"left"},
		{header:'${text("最近更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("状态，1失效0有效")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('db:tbDbCommonTables:edit')){ %>
				actions.push('<a href="${ctx}/db/tbDbCommonTables/form?id='+row.id+'" class="btnList" title="${text("编辑tb_db_common_tables")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/db/tbDbCommonTables/delete?id='+row.id+'" class="btnList" title="${text("删除tb_db_common_tables")}" data-confirm="${text("确认要删除该tb_db_common_tables吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>