<% layout('/layouts/default.html', {title: '门店预定业务销售管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('门店预定业务销售管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('cdf:cdfParentData:edit')){ %>
					<a href="${ctx}/cdf/cdfParentData/form" class="btn btn-default btnTool" title="${text('新增门店预定业务销售')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${cdfParentData}" action="${ctx}/cdf/cdfParentData/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('门店')}：</label>
					<div class="control-inline width-120">
						<#form:select path="store" dictType="new_sale_stores" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('时间')}：</label>
					<div class="control-inline">
						<#form:input path="time" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新者')}：</label>
					<div class="control-inline">
						<#form:input path="updateBy" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group" style="display: none">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updateDate" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
                <div class="form-group" style="margin-left:34%">
                    <button title="历史填报数据" href="javascript:" data-href="http://10.153.252.138/bi/viewer/cdf/out?proc=1&amp;action=viewer&amp;hback=true&amp;db=!4e2d!!514d!!9879!!76ee!_!6c47!!62a5!!7528!V3_8!7248!!672c!!95e8!!6237!!2f!!4e2d!!514d!!9879!!76ee!!4e09!!671f!!2f!!65b0!!96f6!!552e!!2f!!7ebf!!4e0a!!9500!!552e!!7edf!!8ba1!.db&amp;isAir=false&amp;browserType=chrome&amp;au_act=login&amp;adminv=qy&amp;passv=cdf12345&amp;shopname=超级管理员" class="addTabPage btn btn-default btn-sm" data-code="1244810923513057280" data-tab-id="tabpanel-dc0f3b68e1">历史填报数据</button>
                </div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("门店")}', name:'store', index:'a.store', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
		    return '<a href="${ctx}/cdf/cdfParentData/form?id=' + row.id + '&&status=' + 1 + '" class="btnList" data-title="${text("查看门店预定业务销售")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("时间")}', name:'time', index:'a.time', width:150, align:"center"},
		{header:'${text("更新者")}', name:'updateBy', index:'a.update_by', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, align:"center", sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('cdf:cdfParentData:edit')){ %>
				actions.push('<a href="${ctx}/cdf/cdfParentData/form?id='+row.id+'" class="btnList" title="${text("编辑门店预定业务销售")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/cdf/cdfParentData/delete?id='+row.id+'" class="btnList" title="${text("删除门店预定业务销售")}" data-confirm="${text("确认要删除该门店预定业务销售吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>