<% layout('/layouts/default.html', {title: '香港客流管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(status == 'true'? '查看香港客流':(dimHkPassengerFlow.isNewRecord ? '新增香港客流' : '编辑香港客流'))}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${dimHkPassengerFlow}" action="${ctx}/dim/dimHkPassengerFlow/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('日期年月')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dhpfDdId" readonly="${status == 'true'}" maxlength="100" class="form-control datey-m"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('机场总人数本月累计')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dhpfJczrsBylj" readonly="${status == 'true'}" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('机场总人数本月预算')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dhpfJczrsByys" readonly="${status == 'true'}" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('机场总人数去年同期月累计')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dhpfJczrsByljTq" readonly="${status == 'true'}" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('机场总人数去年同期月预算')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dhpfJczrsByysTq" readonly="${status == 'true'}" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6" style="display: none">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('门店6915')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dhpfDsId" readonly="${status == 'true'}" maxlength="100" class="form-control datey-m"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('dim:dimHkPassengerFlow:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
	(function start(status){
		console.log(status)
		if(status==null){ }else if(status.toString() == "true"){
			document.getElementById("btnSubmit").style.display="none";
		}
	})(${status})

$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>